.demo-icon-container .demo-google-material-icon {
  margin-bottom: 5px;
  text-align: left;
}

.demo-icon-container .demo-google-material-icon .icon-name {
  position: relative;
  top: -8px;
  left: 7px;
}

.demo-icon-container .demo-google-material-icon .material-icons {
  width: 25px;
}

/* Materialize Css | Taken from www.materializecss.com */
/* Media ======================================= */
@media (max-width: 767px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 35px;
    width: 73%;
  }

  .navbar .navbar-header {
    display: inline-block;
    margin-bottom: -6px;
    width: calc(100% + 30px);
  }

  .navbar .nav > li {
    display: inline-block;
  }

  .navbar .navbar-nav {
    margin-top: -10px;
    margin-bottom: 1px;
    margin-left: -7px;
  }

  .navbar .navbar-nav .open .dropdown-menu {
    background-color: #fff;
    position: absolute;
    left: 75px;
    top: 38px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navbar .dropdown-menu {
    margin-left: -50px;
  }

  .navbar .js-right-sidebar {
    margin-top: 15px;
  }

  .dt-buttons {
    float: none !important;
    text-align: center;
    margin-bottom: 15px;
  }

  .panel-switch-btn {
    top: 12px;
    right: 0 !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1169px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
  }
}

/* General ===================================== */
body {
  background-color: #e9e9e9;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Roboto", Arial, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

button,
input,
select,
a {
  outline: none !important;
}

.no-animate {
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
}

section.content {
  margin: 100px 15px 0 175px;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/* Dashboard =================================== */
.dashboard-flot-chart {
  height: 275px;
}

.dashboard-donut-chart {
  height: 265px;
}

.dashboard-line-chart {
  height: 250px;
}

.dashboard-stat-list {
  list-style: none;
  padding-left: 0;
  margin-top: 40px;
}

.dashboard-stat-list li {
  padding: 16px 0 0 0;
}

.dashboard-stat-list li small {
  font-size: 8px;
}

.dashboard-task-infos .progress {
  height: 10px;
  margin-bottom: 0;
  position: relative;
  top: 6px;
}

/* Buttons ===================================== */
.btn:focus {
  outline: none !important;
}

.btn-circle {
  border: none;
  outline: none !important;
  overflow: hidden;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.btn-circle i {
  font-size: 18px;
  position: relative;
  left: -1px;
}

.btn-link {
  font-weight: bold;
  color: #333;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-link:active,
.btn-link:focus {
  text-decoration: none;
  color: #333;
}

.btn-link:hover {
  text-decoration: none;
  color: #333;
  background-color: #ddd;
}

.btn-circle-lg {
  border: none;
  outline: none !important;
  overflow: hidden;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  border-radius: 50% !important;
}

.btn-circle-lg i {
  font-size: 26px !important;
  position: relative !important;
  left: 0px !important;
  top: 6px !important;
}

.btn:not(.btn-link):not(.btn-circle) {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
  border: none;
  font-size: 13px;
  outline: none;
}

.btn:not(.btn-link):not(.btn-circle):hover {
  outline: none;
}

.btn:not(.btn-link):not(.btn-circle) i {
  font-size: 20px;
  position: relative;
  top: 3px;
}

.btn:not(.btn-link):not(.btn-circle) span {
  position: relative;
  top: -2px;
  margin-left: 3px;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:focus {
  background-color: #ff9600 !important;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
  background-color: #fb483a !important;
}

.btn-info,
.btn-info:hover,
.btn-info:active,
.btn-info:focus {
  background-color: #00b0e4 !important;
}

.btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:focus {
  background-color: #2b982b !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #1f91f3 !important;
}

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
  background-color: #fff !important;
}

.btn-group,
.btn-group-vertical {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.btn-group .btn,
.btn-group-vertical .btn {
  box-shadow: none !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}

.btn-group .btn .caret,
.btn-group-vertical .btn .caret {
  position: relative;
  bottom: 1px;
}

.btn-group .btn-group,
.btn-group-vertical .btn-group {
  box-shadow: none !important;
}

.btn-group .btn + .dropdown-toggle,
.btn-group-vertical .btn + .dropdown-toggle {
  border-left: 1px solid rgba(0, 0, 0, 0.08) !important;
}

/* Bootstrap Tags Input ======================== */
.bootstrap-tagsinput {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
}

/* noUISlider ================================== */
.noUi-target {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  direction: ltr;
}

.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}

.noUi-origin {
  position: absolute;
  right: 0;
  top: 6px;
  left: 0;
  bottom: 0;
}

.noUi-handle {
  position: relative;
  z-index: 1;
}

.noUi-stacking .noUi-handle {
  z-index: 10;
}

.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.25s, top 0.25s;
  transition: left 0.25s, top 0.25s;
}

.noUi-state-drag * {
  cursor: inherit !important;
}

.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.noUi-horizontal {
  height: 18px;
}

.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}

.noUi-vertical {
  width: 18px;
}

.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}

.noUi-background {
  background: #fafafa;
  box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
  background: #3fb8af;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}

.noUi-origin {
  border-radius: 2px;
}

.noUi-target {
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  box-shadow: inset 0 1px 1px #f0f0f0, 0 3px 6px -5px #bbb;
}

.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #bbb;
}

.noUi-dragable {
  cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}

.noUi-handle {
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  background: #fff;
  cursor: default;
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ebebeb, 0 3px 6px -3px #bbb;
}

.noUi-active {
  box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
}

.noUi-handle:before {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px;
}

.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #e8e7e6;
  left: 14px;
  top: 6px;
  left: 17px;
}

.noUi-vertical .noUi-handle:before {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}

.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
  top: 17px;
}

[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #b8b8b8;
}

[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}

.noUi-target {
  box-shadow: none;
  border: none;
}

.noUi-base {
  height: 15px;
  top: -6px;
}

.noUi-background {
  height: 3px;
  top: 6px;
  background-color: #bfbfbf;
  box-shadow: none;
}

.noUi-horizontal {
  height: 3px;
}

.noUi-connect {
  height: 3px;
  top: 6px;
  background-color: #26a69a;
  box-shadow: none;
}

.noUi-horizontal .noUi-handle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: none;
  background-color: #26a69a;
  border: none;
  left: -5px;
  top: -6px;
  transition: width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    height 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1),
    top 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.noUi-handle:before,
.noUi-handle:after {
  content: none;
}

.noUi-target .noUi-active.noUi-handle {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.noUi-target .range-label {
  position: absolute;
  height: 30px;
  width: 30px;
  top: -17px;
  left: -2px;
  background-color: #26a69a;
  border-radius: 50%;
  transition: border-radius 0.25s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: scale(0.5) rotate(-45deg);
  transform-origin: 50% 100%;
}

.noUi-target .noUi-active .range-label {
  border-radius: 15px 15px 15px 0;
  transform: rotate(-45deg) translate(23px, -25px);
}

.range-label span {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 12px;
  transform: rotate(45deg);
  opacity: 0;
  position: absolute;
  top: 7px;
  left: -1px;
  transition: opacity 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.noUi-active .range-label span {
  opacity: 1;
}

/* Multi Select ================================ */
.ms-container {
  width: auto !important;
}

.ms-container .ms-list {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  border-radius: 0 !important;
}

.ms-container .ms-list.ms-focus {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  box-shadow: none !important;
}

.ms-container .ms-selectable,
.ms-container .ms-selection {
  min-width: 250px !important;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover {
  color: #000000 !important;
  background-color: #e6e6e6 !important;
}

.ms-container .ms-selectable li.ms-elem-selectable,
.ms-container .ms-selectable li.ms-elem-selection,
.ms-container .ms-selection li.ms-elem-selectable,
.ms-container .ms-selection li.ms-elem-selection {
  padding: 9px 15px 6px 15px !important;
}

.ms-container .ms-optgroup-label {
  padding: 5px 0 0 8px !important;
}

/* Card ======================================== */
